.select span.main{
    border: 1px solid black;
    display: inline-block;
}
.items{
    border: 1px solid red;
    padding: 5px;
    position: absolute;
}
.item{
    cursor: pointer;
}
.item.selected{
    background-color: #ccc;
}

